<!DOCTYPE html>
<html>

<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/48938155eb24b4ccdde09426066869504c6dab3c/dist/css/bootstrap.min.css"> -->

    <style type="text/css">
      body {
        background-color: #FFFFFF;
      }

      img.logo {
      }

      .ui.menu .item {
        margin-right: 1.5em;
      }

      .main.container {
        margin-top: 7em;
      }

      .wireframe {
        margin-top: 2em;
      }

      .ui.footer.segment {
        margin: 5em 0em 0em;
        padding: 5em 0em;
      }
    </style>
  </head>

  <body>

    <div class="ui fixed inverted menu">
      <div class="ui container">
        <a href="#" class="header item">
          <img class="logo ui image" src="{{ url_for('static', filename='logo.png') }}">
        </a>
        <a href="#" class="header item">Go</a>
        <a href="/" class="header item">Home</a>
        <a href="/about" class="header item">About</a>
        <a href="/faq" class="header item">FAQ</a>
        <a href="/help" class="header item">Help</a>
      </div>
    </div>
    <p />

    <div class="ui main container" id="reactEntry"></div>

    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="ui inverted vertical footer segment">
      <div class="ui center aligned container">
        <div class="ui stackable inverted divided grid">
          <div class="three wide column">
            <h4 class="ui inverted header">Community</h4>
            <div class="ui inverted link list">
              <a href="#" class="item">Submit an issue</a>
              <a href="#" class="item">Suggest an idea</a>
              <a href="#" class="item">Join the email list</a>
            </div>
          </div>
          <div class="three wide column">
            <h4 class="ui inverted header">Code</h4>
            <div class="ui inverted link list">
              <a href="#" class="item">Github Repo</a>
              <a href="#" class="item">Docs</a>
            </div>
          </div>
          <div class="seven wide column">
            <h4 class="ui inverted header">Contribute as a developer!</h4>
            <p>Help make Go even more awesome!</p>
            <p>Learn serverless programming!</p>
            <p><button class="positive ui button">Click here to get started</button></p>
          </div>
        </div>
        <div class="ui inverted section divider"></div>
        <img src="{{ url_for('static', filename='logo.png') }}" class="ui centered mini image">
        <div class="ui horizontal inverted small divided link list">
          <a class="item" href="#">Terms and Conditions</a>
          <a class="item" href="#">Privacy Policy</a>
        </div>
      </div>
    </div>

    <!-- Attach React components -->
    <script type="text/javascript" src="{{ url_for('static', filename='bundle.js') }}"></script>
  </body>

</html>
